.hero-section{
	height: 773px;
	width: 100%;
	position: relative;
	@media only screen and (max-width: 1024px){
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		height: 440px;
	}
}

.slider-item{
	padding-top: 239px;
	@media only screen and (max-width: 1024px){
		padding-top: 160px;
	}
}

.hero-header{
	text-transform: uppercase;
	color: $dark-gray-color;
	font-family: $poppins;
	font-size: 60px;
	font-weight: 600;
	padding-left: 0px;
	
	@media only screen and(max-width: 1024px){
		font-size: 34px;
	}
}

.hero-text{
	margin: 52px 0 34px 0;
    font-size: 18px;
    font-family: "Merriweather", serif;
    letter-spacing: .1px;
	@media only screen and(max-width: 1024px){
		font-size: 14px;
		margin: 30px 0 20px 0;
	}
}

.main-btn{
	transition: $transition;
	@media only screen and (max-width: 1024px){
		padding: 8px 26px;
		font-size: 12px;
	}
}

.main-btn:hover{
	color: $gold;
	background: transparent;
	border: 1px solid $gold;
}

.slick-dots {
	li{
		margin: -1px
	}

	position: absolute;
	bottom: 27px;
	li button:before,
	li.slick-active button:before {
	  color: transparent;
	  opacity: 1;
	}
	button{
		padding: 0;
	}
	li button:before {
	  background-color: transparent;
	  border: 1px solid $dark-gray-color;
	  border-radius: 50%;
	  display: inline-block;
	  height: 12px;
	  width: 12px;
	  margin-left: 3px;
	  transition: .3s;
	}
	li.slick-active button:before {
	  background-color: $dark-gray-color;
	}
	li:hover button:before {
		background-color: $dark-gray-color;
	}
	@media only screen and (max-width: 1024px){
		bottom: 10px;
	}
}
