.renovation-section{
	height: 100%;
	@media only screen and (max-width: 1024px){
		height: 100%;
	}
}

.renovation{
	display: flex;
	align-items: center;
	@media only screen and (max-width: 1024px){
		flex-direction: column;
	}
}

.reno-img{
	width: 1003px;
	height: 548px;
	@media only screen and (max-width: 1024px){
		background-size: cover;
		width: 100%;
		height: 250px;
		background-repeat: no-repeat;
	}
}

.renovation-box{
	text-align: left;
	width: 631px;
	height: 450px;
	z-index: 10;
	padding: 63px 0 0 42px;
	@media only screen and (max-width: 1024px){
		width: 100%;
		height: 400px;
		padding: 30px;
	}
}

.top-box{
	background: #1c1c1c;
	color: $white;
	transform: translateX(-20%);
	margin-bottom: 18px;
	@media only screen and (max-width: 1024px){
		transform: translateX(0%);
		margin-bottom: 0;
	}
}

.bottom-part{
	display: flex;
	justify-content: flex-end;
	@media only screen and (max-width: 1024px){
		float: none;
		flex-direction: column-reverse;
	}
}

.bottom-box{
	background: #f3f4f5;
	transform: translateX(22%);
	color: $dark-gray-color;
	margin-bottom: 5px;
	@media only screen and (max-width: 1024px){
		transform: translateX(0%);
		margin-bottom: 0;
	}
}

.renovation-head{
	font-family: $poppins;
	font-size: 36px;
	font-weight: 600;
	width: 300px;
	line-height: 48px;
	margin-bottom: 41px;
	@media only screen and (max-width: 1024px){
		font-size: 24px;
		width: 200px;
	}
}

.renovation-text{
	font-family: $poppins;
	font-size: 14px;
	max-width: 450px;
	line-height: 24px;
	@media only screen and (max-width: 1024px){
		font-size: 12px;
		width: 100%;
	}
}

.bottom-text{
	color: $lite-gray-color;
}