.story-section{
	background: #f3f4f5;
	padding: 147px 0 171px 0;
	@media only screen and (max-width: 1024px){
		padding: 40px 0 30px 0;
	}
}

.story{
	display: flex;
	align-items: center;
	@media only screen and (max-width: 1024px) {
		flex-direction: column;
	}
}

.story-img{
	position: relative;
	z-index: 5;
	width: 100%;
	&::after{
		content: "";
		display: block;
		position: absolute;
		width: 445px;
		height: 490px;
		border: 2px solid $gold;
		bottom: -24px;
		right: -26px;
		z-index: -1;
	@media only screen and (max-width: 1024px) {
		width: 239px;
		height: 256px;
		bottom: -14px;
		left: 50%;
		transform: translateX(-42%);
	}
	}
	@media only screen and (max-width: 1024px){
		display: flex;
		align-items: center;
		justify-content: center;
	}	
}

.main-story-img{
	width: 445px;
	@media only screen and (max-width: 1024px) {
		width: 240px;
	}
}

.story-text{
	margin-left: 111px;
	margin-top: 16px;
	@media only screen and (max-width: 1024px){
		margin-left: 0;
	}
}

.story-header{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 36px;
	font-family: $poppins;
	margin-top: 62px;
	margin-bottom: 42px;
	position: relative;
	letter-spacing: .8px;
	line-height: 32px;
	@media only screen and (max-width: 1024px){
		font-size: 30px;
	}
}

.short-story-text{
	font-family: $merriweather;
	font-size: 16px;
	color: $lite-gray-color;

	letter-spacing: .2px;
	@media only screen and (max-width: 1024px){
		font-size: 14px;
	}
}

.long-story-text{
	font-family: $poppins;
	font-size: 14px;
	color: $lite-gray-color;
	line-height: 24px;
	margin-top: 14px;
	@media only screen and (max-width: 1024px){
		font-size: 12px;
	}
}