.choose-section{
	background: #af943e;
	padding: 0px 0;
	display: flex;
	align-items: center;
}

.choose-img{
	width: 791px;
	height: 494px;
}

.worker-img{
	width: 100%;
}

.choose-header{
	color: $white;
	font-family: $poppins;
	font-size: 36px;
	line-height: 48px;
}

.choose-text{
	padding: 50px 100px;
	text-align: left;
	width: 738px;
}

.text-tab{
	margin: 20px 0;
	position: relative;
}

.tab{
	color: $white;
	opacity: .5;
	font-family: $poppins;
	font-size: 16px;
	line-height: 25px;
	cursor: pointer;
	margin: 0 20px;
}

.text-tab:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 360px;
	height: 2px;
	background: $white;
	opacity: .5;
}

.tab:hover{
	opacity: .9;
}

.active-span-state{
	opacity: 1;
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-thickness: 5px;
}

.tab-text{
	color: $white;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	display: none;
}

.active-text{
	display: block;
	animation: animateTextTab .8s ease-in-out;
}

@keyframes animateTextTab{
	0%{
		transform: translateX(-50%);
		opacity: 0;
	}
	100%{
		transform: translateX(0%);
		opacity: 1;
	}
}