.choose-section{
	background: #af943e;
	padding: 0px 0;
	display: flex;
	align-items: center;
	@media only screen and (max-width: 1024px){		
		flex-direction: column;
		text-align: center;
	}
}

.choose-img{
	width: 779px;
	height: 489px;
	@media only screen and (max-width: 1024px){
		background-size: cover;
		background-position: center;;
		background-repeat: no-repeat;
		height: 320px;
		width: 100%;
	}
}

.choose-header{
	color: $white;
	font-family: $poppins;
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 55px;
	margin-top: 36px;
	letter-spacing: .5px;
	@media only screen and (max-width: 1024px){
		font-size: 30px;
		margin-top: 10px;
	}
}

.choose-text{
	padding: 0px 0px 50px 90px;
	text-align: left;
	max-width: 638px;
	@media only screen and (max-width: 1024px){
		padding: 20px;
		font-size: 12px;
	}
}

.text-tab{
	margin: 65px 0 50px 0;
	position: relative;
	@media only screen and (max-width: 1024px) {
		text-align: center;
	}
}

.tab{
	color: $white;
	opacity: .5;
	font-family: $poppins;
	font-size: 16px;
	line-height: 25px;
	cursor: pointer;
	margin: 0 50px;
	position: relative;
	transition: $transition;
	@media only screen and (max-width: 1024px){
		margin: 0 10px;
		font-size: 14px;
	}
}
.text-tab:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 540px;
	height: 2px;
	background: $white;
	opacity: .5;
	@media only screen and (max-width: 1024px){
		width: 290px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.tab:hover{
	opacity: .9;
}

.active-span-state{
	opacity: 1;
}

.active-span-state::after{
		content: "";
		position: absolute;
		width: 180px;
		height: 5px;
		background: $white;
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
		@media only screen and (max-width: 1024px){
			width: 110px;
			bottom: -13px
		}
}

.tab-text{
	color: $white;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	display: none;
	padding-right: 10px;
}

.active-text{
	display: block;
	animation: animateTextTab 1s ease-in-out;
}

@keyframes animateTextTab{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}