.contact-section{
	display: flex;
	background: #f1f1f1f1;
	margin: 200px 0 100px 0;
}

.main-contact-img{
	width: 979px;
	height: 794px;
}

.contact-img{
	width: 100%;
}

.contact-header{
	color: $dark-text;
	font-family: $poppins;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 36px;
}

.contact-mail-text{
	color: $lite-gray-color;
	font-family: $merriweather;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	opacity: 0.85;
}

.contact-street{
	display: flex;
	flex-direction: column;
}

.contact-section-info{
	display: flex;
	flex-direction: column;
}

.contact-mini-header{
	font-size: 36px;
	font-family: $poppins;
	color: $cod-gray;
	font-weight: 400;
}

.text-section-info{
	color: $lite-gray-color;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
}

.form{
	display: flex;
	flex-direction: column;
}

.label{
	color: $cod-gray;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
	opacity: .45;
}

.enter-input{
	border: none;
	background: transparent;
	border-bottom: 1px solid #000000;
	outline: none;
}

.input-submit{
	background: $gold;
	color: $white;
	width: 160px;
	height: 50px;
	font-family: $poppins;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
}

.textarea{
	outline: none;
	background: transparent;

}