.contact-section{
	display: flex;
	background: #f1f1f1f1;
	margin-bottom: 85px;
	height: 794px;
}

.contact-img-bg{
	width: 943px;
	height: 100%;
	background-repeat: no-repeat;
}

.contact-text{
	padding: 70px 0 0 110px;
}

.contact-header{
	color: $dark-text;
	font-family: $poppins;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 36px;
}

.contact-mail-text{
	color: $lite-gray-color;
	font-family: $merriweather;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	opacity: 0.85;
}

.contact-street{
	display: flex;
	flex-direction: column;
	width: 150px;
	margin-right: 100px;
}

.contact-section-info{
	display: flex;
	flex-direction: column;
}

.contact-mini-header{
	font-size: 36px;
	font-family: $poppins;
	color: $cod-gray;
	font-weight: 400;
	position: relative;
	margin: 35px 0 60px 0;
}

.contact-mini-header::before{
	content: "";
	position: absolute;
	background: $cod-gray;
	height: 2px;
	width: 173px;
	bottom: -15px;
}

.contact-mini-header::after{
	content: "";
	position: absolute;
	background: $cod-gray;
	height: 7px;
	width: 60px;
	bottom: -22px;
	left: 0;
}

.text-section-info{
	color: $lite-gray-color;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
}

.text-section-info:hover{
	color: $gold;
	transition: .2s ease-in;
}

.label{
	color: $cod-gray;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
	opacity: .6;
}

.enter-input{
	border: none;
	background: transparent;
	border-bottom: 1px solid #000000;
	outline: none;
	width: 250px;
}

.input-submit{
	background: $gold;
	color: $white;
	width: 145px;
	height: 50px;
	font-family: $poppins;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	float: right;
	margin-top: 12px;
}

input:focus, input:hover{
	border-bottom:1px solid #2aaeb3;
	caret-color: #2aaeb3;
}

input, label{
	display: block;
}

label{
	margin-bottom: 20px;
}

.input-submit:hover{
	color: $gold;
	border: 1px solid $gold;
	background: transparent;
	transition: .2s ease-in;
}

.form-name{
	float: left;
	margin-right: 20px;
}

.form-email{
	float: left;
}

.form-message{
	clear: both;
	padding-top: 50px;
}

.textarea{
	outline: none;
	background: transparent;
	width: 520px;
	height: 130px;
	resize: none;
	padding: 10px;
}

.street-name{
	color: $lite-gray-color;
	font-family: $poppins;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}