.top-footer{
	background: #181a1b;
	padding: 80px 0;
}

.row-footer{
	display: flex;
	align-items: center;
}

.footer-links{
	font-family: $poppins;
	color: #888888;
}

.footer-links:hover{
	color: $gold;
}

.bottom-footer{
	background: #141516;
	text-align: center;
	padding: 20px 0;
}

.copyright{
	color: $white;
	font-family: $poppins;
	font-size: 14px;
	font-weight: 300;
	margin: 0;
}