.top-footer{
	background: #181a1b;
	padding: 100px 0 80px 0;
	@media only screen and(max-width: 1024px){
		padding: 50px 0 10px 0;
	}
}

.row-footer{
	display: flex;
	@media only screen and(max-width: 1024px){
		flex-direction: column;
		max-width: 100%;
	}
}

.main-footer{
	padding: 58px 0 20px 0;
}

.footer-text{
	font-weight: 300;
	font-family: $poppins;
	color: $white-gray;
	line-height: 24px;
	font-size: 14px;
	margin: 20px 0;
	@media only screen and(max-width: 1024px){
		font-size: 12px;
		width: 250px;
	}
}
.socials-footer{
	display: flex;
	align-items: center;
}

.footer-logo{
	margin-right: 95px;
	@media only screen and(max-width: 1024px){
		margin-right: 0;
	}
}

.footer-img{
	width: 260px;
	@media only screen and(max-width: 1024px){
		width: 180px;
	}
}

.asd{
	color: $white;
	display: inline-block;
	transition: $transition;
}

.footer-list-social{
	border: 1px solid $gold;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-top: 8px;
}

.asd:hover{
	color: $gold;
}

.footer-links{
	font-family: $poppins;
	color: #888888;
	transition: $transition;
	@media only screen and (max-width: 1024px){
		font-size: 14px;
	}
}

.footer-link{
	line-height: 33px;
}

.footer-right{
	margin-right: 20px;
	color: $white;
}

.footer-links:hover{
	color: $gold;
}

.footer-span{
	color: $white;
	font-family: $poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 33px;
	text-transform: uppercase;
	position: relative;
	@media only screen and(max-width: 1024px){
		font-size: 14px;
	}
}

.foot-link{
	padding-left: 0;
}

.nav-footer, .contact-footer{
	margin-top: 30px;
}

.bottom-footer{
	background: #141516;
	text-align: center;
	padding: 16px 0;
}

.copyright{
	color: $white;
	font-family: $poppins;
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	@media only screen and(max-width: 1024px){
		font-size: 12px;
	}
}

.footer-navigation{
	margin-top: 17px;
	width: 250px;
	margin-right: 25px;
}

.wrap-foot{
	display: flex;
	align-items: center;
}

.w-f{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	i{
		margin: 35px 20px 20px 0;
	}
}