.gallery-section{
	text-align: center;
	padding: 60px 0 45px 0;
	overflow: hidden;
}

.gallery-head{
	font-family: $poppins;
	font-size: 36px;
	line-height: 33px;
	text-transform: uppercase;
	color: $dark-gray-color;
	position: relative;
	margin-bottom: 65px;
}

.gallery-img-box{
	height: 311px;
	width: 321px;
	margin: 10px 0;
}

.gallery-img{
	width: 100%;
	height: 100%;
}