*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

$poppins: 'Poppins', sans-serif;
$merriweather: 'Merriweather', serif;
$raleway: 'Raleway', sans-serif;
$shark: #2e2e2f;
$white: #ffffff;
$gold: #af943e;
$dark-gray-color: #333333;
$lite-gray-color: #666666;
$dark-gold: #b8976a;
$whitesmoke: #e9e9e9;
$dark-bg: #212121;
$dark-text: #262626;
$cod-gray: #111111;
$white-gray: #888888;


.container{
	max-width: 1110px;
	margin: auto;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.btn{
	font-size: 14px;
	font-family: $poppins;
	background: $gold;
	color: $white;
	text-transform: uppercase;
	padding: 13px 35px;
	border-radius: 0;
}

.underline::after{
	content: "";
	position: absolute;
	width: 39px;
	height: 3px;
	background: $gold;
	bottom: -19px;
	left: 0;
}
