.top {
	background: $dark-bg;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	display: block;
	padding: 8px 0;
	transition: all .2s ease-out;
	transform: translateY(-100%);
	@media only screen and (max-width: 1024px){
		display: none;
	}
}

.top.active-top-head{
	transform: translateY(0%);
}

.bottom {
	position: fixed;
	width: 100%;
	background: $white;
	z-index: 999;
	top: 40px;
	transition: all .2s ease-out;
	transform: translateY(-50%);
	@media only screen and (max-width: 1024px){
		top: 0;
	}
}

.bottom.active-bottom-head{
	transform: translateY(0%);
}

.bottom.active-bottom-head .logo-img{
	width: 262px;
}

.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-info {
	display: flex;
}

.info {
	margin-right: 10px;
}

.contact-phone {
	margin-right: 50px;
}

.socials-info {
	display: flex;
	align-items: center;
}

.phone-number, .email-address {
	color: $white;
	letter-spacing: -1px;
	font-size: 16px;
	transition: .2s;
}

.socials-ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.socials-list{
	margin-left: 22px;
}

.socials-link{
	transition: $transition;
}

.phone-number{
	transition: $transition;
}

.follow-us, .socials-link {
	color: $white;
	transition: .2s;
}

.follow-us{
	color: $white;
	font-size: 12px;
	font-family: $raleway;
	font-weight: 400;
}

.logo-img{
	width: 200px;
	transition: $transition;
	@media only screen and (max-width: 1024px){
		width: 182px;
	}
}

.logo{
	width: 100%;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 0 20px 0;
	@media only screen and(max-width: 1024px){
		padding: 20px 0;
	}
}

.open-menu{
	display: none;
	color: $dark-gray-color;
	transition: $transition;
	@media only screen and(max-width: 1024px){
		display: block;
	}
	&:hover{
		color: $dark-gray-color;
	}
}

.navbar {
	padding: 20px 0 0 0;
}

.navigation-bar {
	display: flex;
	@media only screen and(max-width: 1024px){
		text-align: center;
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 90px;
		left: 0;
		width: 100%;
		background: $white;
		height: 270px;
		transform: translateY(-150%);
		opacity: 0;
		transition: all .4s ease-out;
		z-index: 999;
	}
}

.navigation-bar.show-menu{
	@media only screen and(max-width: 1024px){
		transform: translateY(0%);
		opacity: 1;
		padding-left: 0;
	}
}

.nav-lists {
	margin-left: 32px;
	@media only screen and(max-width: 1024px){
		margin: 20px 0;
	}
}

.nav-links {
	font-size: 16px;
	font-family: $poppins;
	font-weight: 600;
	text-transform: uppercase;
	color: $dark-gray-color;
	position: relative;
	transition: .2s;
	transition: $transition;
}

.nav-links:hover, .socials-link:hover, .phone-number:hover, .email-address:hover{
	color: $gold;
}

.active:after{
	content: "";
	position: absolute;
	width: 36px;
	height: 3px;
	background: $gold;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
}

.hero-header{
	position: relative;
}