.offers-section{
	text-align: center;
	padding: 60px 0 130px 0;
}

.offers-header{
	font-family: $poppins;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 600;
	color: $dark-gray-color;
	position: relative;	
	margin-top: 10px;
}

.offers-text{
	font-size: 16px;
	font-family: $merriweather;
	color: $lite-gray-color;
	margin: 34px 0 100px 0; 
}

.offers-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 8px;
	height: 200px;
	width: 260px;
	transition: .3s;
}

.offers-img{
	height: 57px;
	width: 58px;
	margin-bottom: 22px;
}

.box-text{
	color: $white;
	font-size: 18px;
	text-transform: uppercase;
	font-family: $poppins;
}

.offers-links{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.offers-box:hover{
	cursor: pointer;
	opacity: .9;
}