.questions-section {
  overflow: hidden;
  padding: 50px 0;
}

.questions-header {
  text-align: center;
  font-family: $poppins;
  font-size: 36px;
  font-weight: 600;
  color: $dark-gray-color;
  position: relative;
  margin-bottom: 50px;
}

.question-link {
  font-family: $poppins;
  font-size: 25px;
  font-weight: 400;
  color: $dark-gray-color;
  margin-left: 150px;
  transition: .3s;
}

.question-link:hover {
  color: #b19d60;
}

.questions-box {
  margin: 20px 0;
}

.fa-chevron-right {
  color: #b19d60;
  margin-right: 50px;
}

.show-text {
  background: #f5f5f5;
  padding: 0;
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: all 600ms ease-in;
}

.show-text::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 225px;
	width: 5px;
	height: 50px;
	background: #b19d60;
	transform: translateY(-50%);
}

.show-text.active-state{
	padding: 40px 0;
  	padding-left: 190px;
	max-height: 1000px;
}
.angle-right{
	transform: rotate(90deg);
}

.questions-text{
	width: 924px;
	color: $lite-gray-color;
	font-size: 14px;
	font-family: $poppins;
	line-height: 24px;
}