.questions-section {
  padding: 50px 0 76px;
  overflow: hidden;
}

.questions-header {
    text-align: center;
    font-family: $poppins;
    font-size: 36px;
    font-weight: 600;
    color: $dark-gray-color;
    position: relative;
    margin-bottom: 75px;
    margin-top: 7px;
	letter-spacing: -.8px;
	@media only screen and (max-width: 1024px){
		font-size: 30px;
	}
}

.questions-box {
  margin: 20px 0 0 75px;
  position: relative;
  @media only screen and (max-width: 1024px){
		margin: 20px 0 0 10px;	  
  }
}

// .questions-box.active-state::before{
// 	content: "";
// 	position: absolute;
// 	top: 130px;
// 	left: 0;
// 	width: 2px;
// 	height: 30px;
// 	background: red;
// 	z-index: 9999999;
// }

.fa-chevron-right {
  color: #b19d60;
  margin-right: 75px;
  transition: all 500ms ease-in;
  cursor: pointer;
  transform: rotate(0deg);
  @media only screen and (max-width: 1024px){
		margin-right: 15px;	  
	}
}

.questions-text::after{
	content: "";
	background: #b19d60;
	position: absolute;
	height: 65px;
	width: 4px;
	top: 0px;
	left: 3px;
	transform: translateY(-40%);
}

.question-span{
  cursor: pointer;
  font-family: $poppins;
  font-size: 25px;
  font-weight: 400;
  color: $dark-gray-color;
  transition: $transition;
  	@media only screen and(max-width: 1024px){
		font-size: 18px;
	}
}

.question-span:hover {
	color: #b19d60;
  }

.show-text {
  	background: #f5f5f5;
  	padding: 0;
  	max-height: 0;
  	transition: all 500ms ease-in;
  	overflow: hidden;
  	position: relative;
}

.questions-box.active-state .show-text{
	max-height: 1000px;
	overflow: visible;
	margin: 55px 0 25px 0;
}

.questions-box.active-state .fa-chevron-right{
	transform: rotate(90deg);
}

.show-text::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	width: 75px;
	height: 100%;
	transform: translateX(-100%);
	background: #f5f5f5;
}

.show-text::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0px;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	background: #f5f5f5;
}

.questions-text{
	color: $lite-gray-color;
	font-size: 14px;
	font-family: $poppins;
	line-height: 24px;
	padding: 45px 0 45px 90px;
	@media only screen and(max-width: 1024px){
		font-size: 12px;
		padding-left: 30px;
	}
}