.renovation-section{
	height: 1084px;
	@media only screen and (max-width: 1024px){
		height: 1400px;
		padding: 50px 0;
	}
}

.renovation{
	display: flex;
	align-items: center;
	@media only screen and (max-width: 1024px){
		flex-direction: column;
	}
}

.reno-img{
	width: 999px;
	height: 542px;
	@media only screen and (max-width: 1024px){
		background-size: cover;
		width: 100%;
		height: 250px;
		background-repeat: no-repeat;
	}
}

.renovation-box{
	text-align: left;
	width: 624px;
	height: 448px;
	z-index: 10;
	padding: 65px 0 0 40px;
	@media only screen and (max-width: 1024px){
		width: 100%;
		height: 400px;
		padding: 30px;
	}
}

.top-box{
	background: #1c1c1c;
	color: $white;
	transform: translateX(-21%);
	margin-bottom: 20px;
	@media only screen and (max-width: 1024px){
		transform: translateX(0%);
		margin-bottom: 0;
	}
}

.bottom-part{
	float: right;
	@media only screen and (max-width: 1024px){
		float: none
	}
}

.bottom-box{
	background: #f3f4f5;
	transform: translateX(21%);
	color: $dark-gray-color;
	margin-bottom: 5px;
	@media only screen and (max-width: 1024px){
		transform: translateX(0%);
		margin-bottom: 0;
	}
}

.renovation-head{
	font-family: $poppins;
	font-size: 36px;
	font-weight: 600;
	width: 300px;
	line-height: 48px;
	margin-bottom: 40px;
	@media only screen and (max-width: 1024px){
		font-size: 24px;
		width: 200px;
	}
}

.renovation-text{
	font-family: $poppins;
	font-size: 14px;
	max-width: 450px;
	line-height: 24px;
	@media only screen and (max-width: 1024px){
		font-size: 12px;
		width: 100%;
	}
}

.bottom-text{
	color: $lite-gray-color;
}