.renovation-section{
	overflow: hidden;
}

.renovation{
	display: flex;
	align-items: center;
}

.reno-img{
	width: 1008px;
	height: 541px;
}

.renovation-img{
	width: 100%;
	height: 100%;
}

.renovation-box{
	text-align: left;
	width: 624px;
	height: 448px;
	z-index: 10;
	padding: 65px 0 0 40px;
	margin-bottom: 10px;
}

.top-box{
	background: #1c1c1c;
	color: $white;
	transform: translateX(-22%);
}

.bottom-part{
	float: right;
	margin-top: 6px;
}

.bottom-box{
	background: #f3f4f5;
	transform: translateX(22%);
	color: $dark-gray-color;
}

.renovation-head{
	font-family: $poppins;
	font-size: 36px;
	font-weight: 600;
	width: 300px;
	line-height: 48px;
	margin-bottom: 40px;
}

.renovation-text{
	font-family: $poppins;
	font-size: 14px;
	width: 450px;
	line-height: 24px;
}

.bottom-text{
	color: $lite-gray-color;
}