.renovation-section{
	height: 1084px;
}

.renovation{
	display: flex;
	align-items: center;
}

.reno-img{
	width: 999px;
	height: 542px;
}

.renovation-box{
	text-align: left;
	width: 624px;
	height: 448px;
	z-index: 10;
	padding: 65px 0 0 40px;
}

.top-box{
	background: #1c1c1c;
	color: $white;
	transform: translateX(-21%);
	margin-bottom: 20px;
}

.bottom-part{
	float: right;
}

.bottom-box{
	background: #f3f4f5;
	transform: translateX(21%);
	color: $dark-gray-color;
	margin-bottom: 5px;
}

.renovation-head{
	font-family: $poppins;
	font-size: 36px;
	font-weight: 600;
	width: 300px;
	line-height: 48px;
	margin-bottom: 40px;
}

.renovation-text{
	font-family: $poppins;
	font-size: 14px;
	width: 450px;
	line-height: 24px;
}

.bottom-text{
	color: $lite-gray-color;
}