.story-section{
	background: #f3f4f5;
	padding: 140px 0 170px 0;
}

.story{
	display: flex;
	align-items: center;
}

.story-img{
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.main-story-img{
	width: 440px;
	height: 483px;
}

.story-img::after{
	content: "";
	display: block;
	position: absolute;
	width: 439px;
	height: 486px;
	border: 2px solid $gold;
	bottom: -24px;
	right: -26px;
	z-index: -1;
}

.story-text{
	margin-left: 111px;
	margin-top: 16px;
}

.story-header{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 36px;
	font-family: $poppins;
	margin-top: 52px;
	position: relative;
}

.short-story-text{
	font-family: $merriweather;
	font-size: 16px;
	color: $lite-gray-color;
	margin-top: 36px;
}

.long-story-text{
	font-family: $poppins;
	font-size: 14px;
	color: $lite-gray-color;
	line-height: 24px;
}