.testimonials-section{
	background:  #181a1b;
	text-align: center;
	padding: 100px 0 97px 0;
	@media only screen and (max-width: 1024px){
		padding: 50px 0;
	}
}

.testimonials-box{
	border: 1px solid $gold;
	padding: 40px 0px 55px 0;
	position: relative;
}

.testimonials-head{
	font-family: $poppins;
	color: $white;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	@media only screen and (max-width: 1024px){
		font-size: 30px;
	}
}

.testimonials-text{
	font-weight: 300;
	font-family: $merriweather;
	color: $white;
	line-height: 30px;
	width: 850px;
	margin: 50px auto 20px auto;
	@media only screen and (max-width: 1024px){
		width: 95%;
		font-size: 12px;
	}
}

.testimonials-name{
	font-family: $poppins;
	color: $white;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .1px;
}

.quotes{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 50%;
	background: #181a1b;
	z-index: 90;
}

.testimonials-section{
	.slick-dots{
		
		li button:before {
			border: 1px solid $gold;
			margin-top: 80px;
		}
		li.slick-active button:before {
			background-color: $gold;
		  }
		  li:hover button:before {
			  background-color: $gold;
		  }
	}
}