* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background: #af943e;
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 35px;
}

.top {
  background: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: block;
  padding: 8px 0;
}

@media only screen and (max-width: 1080px) {
  .top {
    display: none;
  }
}

.bottom {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  top: 40px;
  overflow: hidden;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  margin-right: 10px;
}

.contact-phone {
  margin-right: 50px;
}

.socials-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number, .email-address {
  color: #ffffff;
  letter-spacing: -1px;
  font-size: 16px;
}

.socials-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.socials-list {
  margin-left: 22px;
}

.follow-us, .socials-link {
  color: #ffffff;
}

.follow-us {
  color: #ffffff;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 20px 0;
}

.open-menu, .close-menu {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .open-menu, .close-menu {
    display: block;
  }
}

.navbar {
  padding: 20px 0 0 0;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-lists {
  margin-left: 32px;
}

.nav-links {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}

.hero-section {
  height: 773px;
  width: 100%;
  margin-top: 158px;
}

.main-text {
  padding-top: 239px;
}

.hero-header {
  text-transform: uppercase;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  padding-left: 0px;
}

.hero-text {
  margin: 53px 0 34px 0;
  font-size: 18px;
  font-family: "Merriweather", serif;
}

.offers-section {
  text-align: center;
  padding: 100px 0 130px 0;
}

.offers-header {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #333333;
}

.offers-text {
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #666666;
  margin: 34px 0 110px 0;
}

.offers-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers-img {
  height: 57px;
  width: 58px;
  margin-bottom: 22px;
}

.box-text {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.versicherungen {
  background-image: url(../images/Versicherungen.jpg);
  height: 200px;
  width: 260px;
  margin: 0 8px;
}

.privatversicherungen {
  background-image: url(../images/Privatversicherungen.png);
  height: 200px;
  width: 260px;
  margin: 0 8px;
}

.finanzen {
  background-image: url(../images/Finanzen.png);
  height: 200px;
  width: 260px;
  margin: 0 8px;
}

.treuhand {
  background-image: url(../images/Treuhand.png);
  height: 200px;
  width: 260px;
  margin: 0 8px;
}

.story-section {
  background: #f3f4f5;
  padding: 150px 0 160px 0;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-text {
  margin-left: 108px;
  margin-top: 13px;
}

.story-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  margin-top: 52px;
}

.short-story-text {
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #666666;
  margin-top: 36px;
}

.long-story-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
}

.renovation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.renovation-img {
  width: 1008px;
  height: 544px;
}

.top-img {
  margin-left: -409px;
}

.bottom-img {
  margin-right: -408px;
}

.renovation-box {
  text-align: left;
  width: 624px;
  height: 448px;
  z-index: 10;
  padding: 65px 0 0 40px;
  margin-bottom: 10px;
}

.top-box {
  background: #1c1c1c;
  color: #ffffff;
  margin-left: -150px;
}

.bottom-box {
  background: #f3f4f5;
  margin-right: -150px;
  color: #333333;
}

.renovation-head {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  width: 300px;
  line-height: 48px;
  margin-bottom: 40px;
}

.renovation-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 450px;
  line-height: 24px;
}

.bottom-text {
  color: #666666;
}

.testimonials-section {
  background: #181a1b;
  text-align: center;
  padding: 100px 0;
}

.testimonials-box {
  border: 1px solid #af943e;
  padding: 80px 0;
  position: relative;
}

.testimonials-head {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.testimonials-text {
  font-weight: 300;
  font-family: "Merriweather", serif;
  color: #ffffff;
  line-height: 30px;
  width: 850px;
  margin: auto;
}

.testimonials-name {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.quotes {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -35px;
  padding: 20px;
  border-radius: 50%;
  background: #181a1b;
}

.gallery-section {
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
}

.gallery-head {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
}

.gallery-img {
  height: 302px;
  width: 290px;
}

.clients-section {
  text-align: center;
}

.clients-head {
  font-weight: 600;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

.clients-text {
  color: #666666;
  font-size: 16px;
  font-family: "Merriweather", serif;
}

.clients-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-img {
  margin: 50px 30px;
}

.clients-contact-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #af943e;
}

.clients-contact-text {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.clients-btn {
  background: #ffffff;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */